/* CSS Hacks. Scrollbars, placeholders etc. */
@import "lib-components/css-hacks";

$grid-gutter-width: 20px;

/* Bootstrap */
@import '../libs/bootstrap-4.3.1/scss/bootstrap-grid.scss';

$spacer: 80px;
$spacers: ();
$spacers: map-merge(
  ( 
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: ($spacer * .75),
    4: $spacer,
    5: ($spacer * 1.25),
  	6: ($spacer * 1.75)
  ),
  $spacers
);

@import '../libs/bootstrap-4.3.1/scss/utilities/_spacing.scss';

/* Slick slider */
@import "lib-components/slick";

