@import "common-components/normalize";
@import "common-components/fonts";
@import "common-components/animations";
@import "lib-components/css-hacks";
@import "../fonts/iconmoon/style.css";
 
//------variables
$main-color: #FF7A1B;
$text-color: #111111;
$secondary-text-color: #656565;
$sidebar-width: 140px;

body {
	font-family: 'montserrat', sans-serif;
	font-size: 14px;
	line-height: 1.3;
	color: $text-color;
}
h1, .h1{
	font-family: 'montserrat', sans-serif;
	font-weight: bold;
	font-size: 36px;
	line-height: 1.25;
	margin: 15px 0 20px;
}
h2, .h2{
	font-family: 'montserrat', sans-serif;
	font-weight: bold;
	font-size: 24px;
	line-height: 1.4;
}
h3, .h3{
	font-family: 'montserrat', sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 1.4;
}
p{
	line-height: 1.4;
}
.iconmoon{
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.overflow-hidden {
	overflow: hidden;
}
.scroll{
	overflow: auto;
	height: 100%;
}
.img{
	&__full{
		object-fit: cover;
		width: 100%;
    	height: 100%;
	}
	&__center{
		object-position: center;
	}
}
.btn{
	height: 36px;
	width: 185px;
	line-height: 36px;
	border-radius: 18px;
	font-family: montserrat,sans-serif;
	font-size: 15px;
	text-align: center;
	cursor: pointer;
	&__full{
		background-color: $main-color;
		color: #fff;
	}
	&__icon{
		height: 50px;
		width: 50px;
		border-radius: 50%;
		text-align: center;
		cursor: pointer;
		display: flex;
	    align-items: center;
	    justify-content: center; 
	}
	&__icon-full{
		background-color: $main-color;
		color: #fff;
	}
	&__icon-empty{
		background-color: #fff;
		box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.07);
		color: $main-color;
	}
	&__menu{
		width: 27px;
		cursor: pointer;
		z-index: 9;
		margin-left: 10px;
		// &:hover,
		// &:focus, 
		&.btn__menu-open{
			.line {
				&:after{
					width: 50%;
				}
				&:last-child{
					transform: translateX(90%);
					&:after{
						width: 65%;
					}
				}
			}
			// & + .menu{
			// 	width: 50%;
			// 	min-width: 450px;
			// 	.menu__list{
			// 		opacity: 1;
			// 		transition: opacity 0.5s;
			// 	}
			// }
		}
		.line{
			width: 100%;
			height: 2px;
			background-color: $main-color;
			transition: 0.25s;   			
			margin-bottom: 7px;
			&:last-child{
				width: 52%;
			}
			&:after {
				content: '';
				background: #fff;
				transition: .5s;
				opacity: .8;
				width: 0;
				height: 2px;
				display: block;
			}
		}
	}
}
.text-notify{
	color: #17B057;
}
.text-secondary{
	color: $secondary-text-color;
	font-size: 11px;
	font-weight: 200;
	line-height: 20px;
}
.text-light{
	color: $secondary-text-color;
	font-weight: 200;
}
.list{
	margin-bottom: 20px;
	&__item{
		margin-bottom: 20px;
		padding-left: 15px;
		&:before{
			content: '';
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background-color: $main-color;
			position: absolute;
			top: 7px;
			left: 0;
		}
	}
}
.hr-line{
	margin: 20px -10px;
	width: 100%;
	height: 1px;
	background-color: #D7DEED;
	&-s{
		width: 92px;
		margin-bottom: 20px;
		height: 1px;
		background-color: #D7DEED;
	}
}
.tabs{
	margin: 0 -10px;
    display: flex;
}
.tab{
	width: 100%;
	text-align: center;
	padding: 20px;
	border-bottom: 1px solid rgba(196, 196, 196, 0.2);
	cursor: pointer;
	color: #C4C4C4;
	transition: all 0.5s;
	&-active{
		color: $main-color;
		border-color: $main-color;
	}
	&__content{
		display: none;
		padding: 40px 0;
		overflow: hidden;
		transition: opacity 0.5s, width 0 0.5s ;
	}
	&__icon {
		font-size: 22px;
		margin-bottom: 15px;
	}
}
.header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
	padding: 20px 10px;
	width: $sidebar-width;
	&__logo {
		margin-bottom: 40px;
		width: 100%;
		z-index: 9;
		display: block;
	}
}
.menu{
	// width: 50%;
	// min-width: 450px;
	width: 0;
	min-width: 0;
	overflow: hidden;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0; 
	transition: all 0.8s;
	z-index: 8;
	&.menu__open{
		width: 50%;
		min-width: 450px;
		.menu__list{
			opacity: 1;
			transition: opacity 0.5s;
		}
	}
	&__wrap{
		width: 100%; 
		height: 100%;
		display: flex;
		flex-direction: column;
		background: #FCFCFC;
		z-index: 2;
	}
	&__list{
		margin-left: 190px;//130+60
		margin-top: 70px;
		color: $text-color;
		transition: all 0.1s;
		opacity: 0;
		transition: opacity 0.5s 0.5s;
		&:hover {
			color: #dcddde;
		}	
	}
	&__sublist{
		position: fixed;
		top: 70px; 
		left: 50%;
		width: 33%;
		padding-left: 60px;
		color: $text-color;
		opacity: 0;
		//top: 60px;
		top: -100%;
		transition: color 0.1s, opacity 0.5s, top 0s 0.5s;
		z-index: -1;
		&:hover {
			//color: #dcddde;
			z-index: 3;
			transition: color 0.1s, opacity 0.5s 0.5s, top 0s 0s;
			& + .menu__item-lg{
				color: $text-color;
				padding-left: 10px; 
			}
		}
		&:before{
			content: "";
			width: 33%;
			height: 100%;
			background: #fff;
			opacity: 0;
			display: block;
			position: fixed;
			//top: 0;
			top: -100%;
			left: 50%;
			transition: opacity 0.5s, top 0s 0.5s;
		}
	}
	&__parent{
		&:hover,
		&:focus{
			.menu__sublist{
				top: 60px;
				opacity: 1;
				z-index: 3;
				transition: color 0.1s, opacity 0.5s, top 0s 0s;
				&:before{
					top: 0;
					opacity: 0.65;
					transition: color 0.1s, opacity 0.5s, top 0s 0s;
				}
			}
		}
	}
	&__item{
		transition: all 0.3s;
		display: block;
		cursor: pointer;
		&-lg{
			font-size: 18px;
			font-weight: bold;
			padding: 30px 0;
			&:hover{
				color: $text-color;
				padding-left: 10px;
			}
		}
		&-md{
			padding: 15px 0;
			color: $secondary-text-color;
			display: block;
			&:hover{
				color: $text-color;
			}
		}
	}

}
.lang{
	display: flex;
	margin-left: 190px;//130+60
	margin-top: auto;
	margin-bottom: 20px;
	&__item{
		margin-right: 20px;
	}
	&__link{
		width: 50px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		font-size: 12px;
		font-weight: 200;
		color: #C4C4C4;
		display: block; 
		&:hover{ 
			color: $main-color;
		}
		
	}
	&__active {
		color: $main-color;
	}
}
#btnSearch{
	position: fixed;
	top: 20px;
	right: 20px;
}
#formSearch{
	position: fixed;
	top: 20px;
	right: 20px;
}
.search{
	&__form{
		width: 50px;
		max-width: calc(100% - 20px);
		box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.07);
		overflow: hidden;
		border-radius: 25px;
		transition: all 0.5s;
		&-open{
			width: 363px;
		}
	}
	&__input{
		height: 50px;
		width: 100%;
		padding: 0 50px 0 40px;
		box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.07);
		border-radius: 25px;
	}
}
#btnBasket{
	position: fixed;
	top: 90px;
	right: 20px;
}
.btnBasket__count{
	background-color: #FF0000;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	color: #fff;
	font-size: 11px;
	text-align: center;
	line-height: 16px;
	bottom: 9px;
    right: 9px;
    position: absolute;
}
#btnCatalog{
	position: fixed;
	bottom: 20px;
	right: 20px;
	 z-index: 9;
}
.sidebar{
	width: $sidebar-width;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 20px;
	height: 100%;
	position: fixed;
	z-index: 7;
	transition: all 0.5s 0s;
	&__block{
		padding: 10px 0;
		margin-top: 30px;
		&:before{
			content: '';
			display: block;
			width: 32px;
			height: 1px;
			background-color: $main-color;
			position: absolute;
			top: 0;
			left: -20px;
			opacity: 0.4;
		}
	}
	&__show{
		z-index: 8;
		transition: all 0.5s 0.5s;
	}
	&__link{
		margin-bottom: 10px;
		display: inline-block;
		transition: all 0.1s;
		&:hover{
			transform: scale(1.05, 1.05);
			color: $main-color;

		}
	}
 }
.phone__text{
	color: #C4C4C4;
	font-size: 11px;
	margin-bottom: 20px;
}
.main{
	position: fixed;
	display: flex;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 7;
	&__slider{
		width: 50%;
		height: 100%;
	}
	&__item{
		display: flex;
		width: 100%;
		height: 100%;
	}
	&__content{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: #fff;
	}
	&__title{
		text-align: center;
		width: 600px;
		max-width: 95%;
		margin-bottom: 30px;
		animation-name: sliderContentHide;
	    animation-duration: .4s;
	    animation-fill-mode: both;
	    opacity: 0;
	}
	&__text{
		width: 450px;
		max-width: 95%;
		text-align: center;
		margin-bottom: 60px;
		animation-name: sliderContentHide;
	    animation-duration: .4s;
	    animation-fill-mode: both;
	    opacity: 0;
	}
	&__img{
		width: 100%;
		height: 100%;		
	}
	.slick-list,
	.slick-track,
	.slick-vertical .slick-slide{
		height: 100% !important;
	}
	.slick-vertical .slick-slide{
		border: none;
	}
	.slick-dots {
		position: absolute;
	    bottom: 20px;
	    left: 0;
	    width: 100%;
    	text-align: center;
    	li{
			display: inline-flex;
			cursor: pointer;
			width: 20px;
			height: 20px;
			justify-content: center;
			align-items: center;
			vertical-align: bottom;
			button {
				color: transparent;
				width: 5px;
				height: 5px;
				cursor: pointer;
				border-radius: 50px;
				background-color: $main-color;
				transition: all 0.5s;
			}
			&.slick-active button{
				width: 10px;
				height: 10px;
			}
    	}
	}
}
.slick-active .main__text, 
.slick-active .main__title{
	animation-name: sliderContentShow;
    animation-delay: .2s;
}
.slider__item{
	height: 100%;
}
.slick-list,
.slick-track,
.slick-slide,
.slick-slide>div{
	height: 100%;
}
.slick-track,
.slick-list {
	-webkit-perspective: 2000;
	-webkit-backface-visibility: hidden;
}
.content{
	margin-left: $sidebar-width;
	width: calc(100% - 140px);
	padding-right: 20px;
	&__header{
		padding: 20px 40px 40px;
	}
	p{
		margin: 20px 0;
		line-height: 1.75;
		color: #656565;
	}
}
.vertical{
	overflow: hidden;
    height: 100vh;
    display: flex;
    padding: 0;
	&__wrap{
	    width: 100%;
	    padding: 0 20px;
	    overflow: auto;
	}
	&__bg-img {
	    width: 45%;
	    width: calc(100vw / 12 * 5 - 10px);
	    padding-right: 20px;
	    flex-shrink: 0;
	    height: 100%;
	    overflow: hidden;
	}
	&__content{
		padding: 20px 40px 40px 20px;
	}
	&__gallery{
		width: 9%;
		width: calc(100vw / 12 - 20px);
		overflow: auto;
		flex-shrink: 0;
	}
	&__item{
		margin-bottom: 20px;
		cursor: pointer;
		width: 100%;
		height: calc((100vw / 12 - 20px) * 1.3);
	}
}
.bg-img__item{
	z-index: 1;
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: cenetr;
	&.bg-img__item-active{
		z-index: 3;
		-webkit-animation: slide 1s 1;
	}
	&:not(.bg-img__item-active){
		-webkit-animation: hidden 1s 1;
	}
}
.breadcrumb{
	font-size: 13px;
	color: #B5B5B5;
}
.card{
	position: relative;
	padding: 10px;
	&__name{
		position: absolute;
		display: inline-block;
		bottom: 40px;
		left: 0;
		padding: 0 10px;
		line-height: 35px;
		height: 35px;
		background-color: rgba(255,255,255,0.65);
		font-size: 15px;
	}
	&__price{
		position: absolute;
		display: inline-block;
		bottom: 5px;
		left: 0;
		padding: 0 10px;
		line-height: 35px;
		height: 35px;
		background-color: rgba(255,255,255,0.65);
		font-size: 15px;
		&-old{
			text-decoration: line-through;
			margin-right: 12px;
			font-size: 12px;
		}
		&-new{
			color: #FF0000;
		}
	}
	&__img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		transition: all 0.5s;
	}
	&__link{
		display: block;
	    height: 100%;
	    overflow: hidden;
	    &:hover{
	    	.card__img{
	    		width: calc(100% + 10px);
	    		height: calc(100% + 10px);
	    	}
	    }
	}
	&__delete{
		position: absolute;
		top: -10px;
		right: -10px;
		width: 20px;
		height: 20px;
		background: #FFFFFF;
		box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.07);
		border-radius: 40px;
		z-index: 2;
		color: $main-color;
		text-align: center;
	    line-height: 22px;
	    font-size: 9px;
	    cursor: pointer;
	}

}
.catalog{
	margin: -10px;
	height: calc(100vh + 20px);
	&__item{
		position: relative;
		padding: 10px;
		width: 50%;
		height: 50%;
		&-xl{
			width: 45%;
			height: 100%;
		}
		&-h{
			height: 100%;
		}
	}
	&__block{
		display: flex;
		flex-wrap: wrap;
		width: 55%;
		height: 100%;
	} 
	&__row {
		display: flex;
		flex-wrap: wrap;
		&-lg{
			height: calc(66vh + 10px);
			min-height: 200px;
		}
		&-md{
			height: calc(34vh + 10px);
			min-height: 100px;
		}
	}
}
.category{
	&__item{
		width: 33.33333%;
		height: calc((100vw - 140px) / 3 * 1.45);
    	max-height: calc(100vh - 176px);
	}
}
.subcategory__item{
	width: 33.33333%;
	height: calc((100vw - 140px) / 3);
}
.products__item{
	width: 33.33333%;
	height: calc((100vw - 140px) / 3);
}
.icon-delivery{
	font-size: 1.3em;
}
.variation{
	display: flex;
	justify-content: space-between;	
	margin: 20px 0;
	&__label{
		color: #C4C4C4;
		font-size: 18px;
		font-weight: bold;
		cursor: pointer;
		transition: all 0.1s;
	}
	&__input{
		display: none;
		&:checked + .variation__label{
			color: $main-color;
		}
	}
}
.checkbox{
	margin-right: 20px;
	margin-bottom: 20px;
	&__input{
		position: relative;
		width: 20px;
		height: 20px;
		vertical-align: middle;
		margin-right: 8px;
		&:before{
			@extend .iconmoon;
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			border: 1px solid rgba(196, 196, 196, 0.5);
			background: #fff;
      		z-index: 2;
      		cursor: pointer;
		}
		&:checked:before{
			content: '\e900';
			color: #17B057;
			font-weight: bold;
			font-size: 18px;
  			text-align: center;
  			line-height: 14px;
			color: #17B057;
		}
	}
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin: 0;
}
input[type=number]{
  -moz-appearance: textfield;
}
.quantity {
  	position: relative;
  	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.07);
	border-radius: 40px;
	height: 21px;
	width: 80px;
	display: flex;
	justify-content: space-between;
	margin-right: 20px;
	&__row{
		display: flex;
		margin-bottom: 14px;
		&:last-child{
			margin-bottom: 0;
		}
	}
  	&-input {
	    padding: 0;
	    margin: 0;
	    width: 15px;
	    text-align: center;
	    font-size: 15px;
	    &:focus {
	      outline: 0;
	    }
	  }
  	&-button {
	    cursor: pointer;
	    padding: 0 10px;
	    text-align: center;
	    color: $main-color;
	    font-size: 22px;
    	line-height: 21px;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    -o-user-select: none;
	    user-select: none;
	  }
}
.product__price{
	font-size: 36px;
	margin: 20px 0;
}
.characteristic{
	&__table{
		td:first-child{
			width: 50%;
		}
	}
}
.table-light{
	width: 100%;
	td{
		padding: 7px 0;
	}
}
.hoverzoom {
  display: inline-block;
	overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  &__img{
    position: relative;
    width: 100%;
  }
}
.magnifier {
	position: absolute;
	opacity: 0; 
	background: rgba(255,255,255,0.5);
  right: 0;
  bottom: 0;
  z-index: 5; 
}
.zoom__image {
  	width: calc(100vw / 12 * 4 - 10px);
    height: calc(100vw / 12 * 4 - 10px);
    overflow: hidden;
    position: absolute;
    left: calc(100vw / 12 * 5 - 30px);
    top: 0;
    z-index: -1;
    opacity: 0;
    transition: all 0.5s;
  img {
  	width: calc((100vw / 12 * 5 - 10px)*2);
  	max-width: unset;
    position: absolute;
    top: 0;
    left: 0;
  }
  &-active{
  	z-index: 99;
  	opacity: 1;
  }
}
.basket{
	height: 100vh;
	display: flex;
	&__left{
		width: 25vw;
		flex-shrink: 0;
		height: 100%;
		overflow: hidden;
		display: flex;
    	flex-direction: column;
	}
	&__sidebar{
		overflow: auto;
		width: 100%;
		height: 100%;
		padding: 40px 20px 0;
	}
	&__card{
		margin-bottom: 40px;
		.card{
			padding: 0;
			height: calc(100vw / 4 * 0.745);
		}
	}
	&__price{
		font-size: 15px;
		position: relative;
		margin-top: 10px;
		display: inline-block;
    	line-height: 20px;
	}
	&__footer{
		padding: 20px;
	}
	&__total{
		font-weight: bold;
		font-size: 18px;
		margin-left: 20px;
	}
	&__content{
		padding: 60px 40px 0;
		width: 100%;
	}
}
.hint{
	width: 12px;
	height: 12px;
	background: #FFFFFF;
	border: 1px solid $main-color;
	border-radius: 40px;
	color: $main-color;
	text-align: center;
	line-height: 12px;
	position: absolute;
	top: 0;
	right: -15px;
	font-size: 9px;
}
.form{
	&__row{
		margin-bottom: 20px;
		display: flex;
	}
	&__desc {
		font-size: 11px;
		color: $secondary-text-color;
	}
}
.input,
.select{
	width: 305px;
	height: 32px;
	border: 1px solid rgba(196, 196, 196, 0.5);
	line-height: 32px;
	margin-right: 20px;
	padding: 0 20px;
	position: relative;
  	display: inline-block;
}
.select{
	padding: 0;
	&-wrapper {
	  position: relative;
	  display: inline-block;
	  user-select: none;
	}
	&-wrapper select {
	  display: none;
	}
	&-trigger {
	  position: relative;
	  display: block;
	  background: #fff;
	  padding: 0 20px;
	  height: 100%;
	  border-radius: 4px;
	  cursor: pointer;
	  color: $secondary-text-color;
		&:after {
		  position: absolute;
		  display: block;
		  content: '';
		  width: 12px;
		  height: 5px;
		  top: 45%;
		  right: 15px;
		  transform: rotate(180deg);
	  	  background-image: url('../img/svg/arrow.svg');
	  	  background-size: contain;
	  	  transition: all 0.5s;
		}
	}
	&.opened .select-trigger:after {
	  transform: rotate(0deg);
	}
	&.opened .custom-options {
	  opacity: 1;
	  visibility: visible;
	  pointer-events: all;
	  transform: translateY(0);
	}
}
.custom-options {
  max-height: 300px;
  overflow-y: auto;
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  min-width: 100%;
  margin: 0;
  border: 1px solid rgba(196, 196, 196, 0.5);
  box-sizing: border-box;
  background: #fff;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-15px);
  z-index: 9;
  overflow: hidden;
  padding: 15px 0 5px;
}
.option-hover:before {
  background: #fff;
}
.custom-option {
  position: relative;
  display: block;
  padding: 0 20px;
  line-height: 20px;
  min-height: 32px;
  cursor: pointer;
  transition: all 0.1s;
}
.custom-option:last-of-type {
  border-bottom: 0;
}
.custom-option:hover,
.custom-option.selection {
  color: $main-color;
  font-size: 16px;
  padding-left: 15px;
  padding-right: 0;
  //transform: scale(1.05);
}
.custom-option.selection{
	display: none;
}